version: 2.1

orbs:
  aws-eks: circleci/aws-eks@1.0.0
  kubernetes: circleci/kubernetes@0.11.1

jobs:
  build:
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys: 
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-
      - run: 
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
      - run: 
          name: run lint
          command: |
            . venv/bin/activate
            make lint
      - run: 
          name: run tests
          command: |
            . venv/bin/activate
            make test
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies{{ checksum "requirements.txt" }}

  run-docker:
    machine: true
    steps:
      - checkout
      - run:
          name: build docker image
          command: |
            docker build -t nikhilsarecha/uda-capstone:latest .
            docker run -d -p 8000:80 nikhilsarecha/uda-capstone:latest

  upload-docker:
    machine: true
    steps:
      - checkout
      - run:
          name: build docker image
          command: |
            docker login -u nikhilsarecha -p $DOCKERHUB_PASSWORD
            docker tag uda-capstone nikhilsarecha/uda-capstone:latest
            docker push nikhilsarecha/uda-capstone:latest

workflows:
  default:
    jobs:
      - build 
      - run-docker:
          requires:
            - build
      - upload-docker:
          requires:
            - run-docker 